<head>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/nav.css">
    
    </head>
    
    
    <body>
    
    
        <!-- Navigation Component -->
    
        <nav id="navigation">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Jason Chiu</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <nav-bar-item v-for="nav in navList" v-bind:navitem="nav" v-bind:key="nav.id">
                    </nav-bar-item>
                </ul>
            </div>
    
            <ul class="sidenav" id="mobile-nav">
                <nav-bar-item v-for="nav in navList" v-bind:navitem="nav" v-bind:key="nav.id">
                </nav-bar-item>
            </ul>
    
        </nav>
    
    
            <!-- INSERT CONTENT HERE -->
    






    
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="js/nav.js"></script>
    </body>